@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font";
    font-size: 15px;
    min-height: 0;
    color: @text;
}

window#waybar {
    /* background: transparent; */
    background-color: @base;
    box-shadow: 0 0 5px @overlay0;
}

#window {
    font-weight: bold;
}

tooltip {
    background-color: @mantle;
    border: 1px solid @sky;
    border-radius: 2px;
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    background: transparent;
    /* color: white; */
    border-top: 2px solid transparent;
}

#workspaces button.active {
    /*background: @text;*/
    background: @overlay2;
    color: @teal;
}

#workspaces button.focused {
    /* color: #c9545d; */
    color: #ff0000;
    border-top: 2px solid #c9545d;
}

#workspaces button.urgent {
    color: @red;
    background: @yellow;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid @rosewater;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#language,
#custom-spotify,
#tray,
#mode,
#mpris {
    padding: 0 5px;
    margin: 0 5px;
}

#clock {
    font-weight: bold;
    font-family: "Monospace";
}

#clock tooltip {
    font-family: "JetBrains Mono";
}

#battery {
}

#battery icon {
    color: @red;
}

#battery.charging {
    color: @green;
}

@keyframes blink {
    to {
        /* background-color: #ffffff; */
        color: @yellow;
    }
}

#battery.warning:not(.charging) {
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    color: @yellow;
}

#bluetooth,
#bluetooth.disabled {
}

#bluetooth.on {
    color: @yellow;
}

#bluetooth.off {
    color: @red;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}
